root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.py]
indent_style = space
indent_size = 4
# Black compatible values for isort https://black.readthedocs.io/en/stable/compatible_configs.html#isort
profile = black
multi_line_output = 3

[*.ui]
indent_style = space
indent_size = 2
max_line_length = 100000
